* {
	box-sizing: border-box;
}

/* Style the body */
body {
	font-family: Arial;
	margin: 0;
}

/* Header/logo Title */
.header {
	padding: 60px;
	text-align: center;
	background: #7d97ad;
	color: white;
}

/* Style the top navigation bar*/
.navbar {
	display: flex;
	background-color: #333;
}
 
 /* Style the top navigation links */
 .navbar a {
 	color: white;
 	padding: 14px 20px;
 	text-decoration: none;
 	text-align: center;
 }

 /* Change color on hover */
 .navbar a:hover {
 	background-color: #ddd;
 	color: black;
 }

/* Column container */
.row {
	display: flex;
	flex: wrap;
}


/* Sidebar/left colum */
.side {
	flex: 30%;
	background-color: #f1f1f1;
	padding: 20px;
}

/* Main column */
.main {
	flex: 70%;
	background-color: white;
	padding: 20px;
}

/* Fake image, just for this example */
/*.fakeimg {
	background-color: #aaa;
	whdth: 100%;
	padding: 20px;
	}*/
	
/* Style for image */
.fakeim img {
	width: 100%; /* делает картинку гибкой.*/
	height: auto; /* сохраняет пропорции изображения */
}

/* Если у тебя есть контретные размеры, можно указать их прямо в CSS, например */
.fakeimg {
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fakeimg img {
	max-height: 100%; /*картика будет растягиваться по высоте */
}







/* Footer */
.footer {
	padding: 20px;
	text-align: center;
	background: #ddd;
}

/* Responsive layout - when the screen is lees than 700px wide*/
@media screen and (max-width: 700px) {
	.row, .navbar {
		flex-direction: column;
	}
}